<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{app}} login</title>
    {% style "/assets/bulma/css/bulma.min.css" %}
</head>
<body>

<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container ">
            <div class="columns is-centered">
                <div class="column is-6-tablet is-5-desktop is-4-widescreen">
                    <div class=" is-justify-content-center">
                        <div class="box is-align-self-center has-text-centered" style="max-width: 25em;">

                            {% if feedback %}
                            <h2>{{feedback}}</h2>
                            {% endif %}

                            {% if error %}
                            <strong class="has-text-danger">{{error}}</strong>
                            {% endif %}

                            {% if timestamp %}
                            <div><small class="has-text-grey"> <em> {{timestamp}} </em> </small></div>
                            {% endif %}

                            <p>{{message}}</p>

                            {% if redirect-url %}
                            <hr>
                            <a href={{redirect-url}} class="has-text-info">{{redirect-text}}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>